@use "../base/mixins" as m;
@use "../utils/media" as media;

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
    padding: 30px 40px;
    background-color: var(--color-primary);
    border-radius: 12px;
    color: var(--color-light);
    position: relative;

    @include media.custom-media(1180px) {
        padding-inline: 20px;
    }

    @include media.custom-media(920px) {
        width: 100%;
    }

    @include media.custom-media(400px) {
        padding-inline: 10px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 5px;
        display: block;
        width: 33px;
        height: 54px;

        background: {
            image: url("/public/images/deco-leaf.png");
            position: center center;
            size: cover;
        }
    }

    &__title {
        @include m.fluid-text(17, 32);

        font-weight: 700;
        font-family: var(--font-family-heading);
    }

    &__time {
        display: flex;
        align-items: start;
        column-gap: 38px;

        @include media.custom-media(1180px) {
            column-gap: 16px;
        }

        @include media.custom-media(920px) {
            column-gap: 40px;
        }

        @include media.custom-media(450px) {
            column-gap: 16px;
        }
    }

    &__display {
        display: flex;
        align-items: start;
        column-gap: 6px;
    }

    &__count {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
        position: relative;

        &:not(:last-child)::after,
        &:not(:last-child)::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: calc(100% + 19px);
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--color-light);
            opacity: 0.9;

            @include media.custom-media(1180px) {
                left: calc(100% + 8px);
                width: 8px;
                height: 8px;
            }

            @include media.custom-media(920px) {
                left: calc(100% + 20px);
            }

            @include media.custom-media(450px) {
                left: calc(100% + 8px);
                width: 6px;
                height: 6px;
            }
        }

        &:not(:last-child)::before {
            top: 30%;
        }

        @include media.media(laptop) {
            &.hidden {
                display: none;
            }

            &.hidden-decoration::after,
            &.hidden-decoration::before {
                display: none;
            }
        }

        @include media.custom-media(590px) {
            &.hidden {
                display: flex;
            }

            &.hidden-decoration::after,
            &.hidden-decoration::before {
                display: block;
            }
        }

        @include media.media(laptop) {
            &.hidden {
                display: none;
            }

            &.hidden-decoration::after,
            &.hidden-decoration::before {
                display: none;
            }
        }

        span {
            display: block;
            padding: 8px 12px 18px;
            height: 70px;
            border-radius: 14px;
            color: var(--color-dark);
            font-size: 60px;
            font-family: var(--font-family-heading);
            background-color: var(--color-light);

            @include media.custom-media(400px) {
                font-size: 30px;
                height: 45px;
                border-radius: 6px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 700;
        }
    }
}