@use "./mixins" as m;

body,
html {
    @include m.fluid-text(16, 18);

    font-family: var(--font-family-base);
    color: var(--color-dark);
}

a,
button,
input,
svg,
img {
    transition-duration: 0.4s;
}

a {
    color: var(--color-white);
}

section {
    margin-top: 80px;
}

h1 {
    @include m.fluid-text(32, 72);
}

h2 {
    @include m.fluid-text(24, 64);

    font-family: var(--font-family-heading);
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    @include m.fluid-text(20, 28);

    font-weight: 700;
    text-transform: uppercase;
}