@font-face {
    font-family: "Nunito";
    src: url("/public/fonts/Nunito/static/Nunito-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("/public/fonts/Nunito/static/Nunito-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Bebas Neue";
    src: url("/public/fonts/Bebas_Neue/static/BebasNeue-Regular.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("/public/fonts/Bebas_Neue/static/BebasNeueCyrillic.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0400-04FF;
}


@font-face {
    font-family: "Mon Amour One";
    src: url("/public/fonts/Mon_Amour/static/MonAmourOne-Medium.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}