:root {
    --color-dark: #312A2A;
    --color-light: #FFFFFF;
    --color-primary-text: #D52A20;
    --color-primary: #E25E5E;

    --container-width: 1170px;
    --container-padding-x: 15px;

    --font-family-base: "Nunito", sans-serif;
    --font-family-heading: "Bebas Neue", sans-serif;
    --font-family-primary: "Mon Amour One", sans-serif;
}