@use "../base/mixins" as m;
@use "../utils/media" as media;

.recipes {
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: var(--color-primary);

    &::after {
        content: "";
        position: absolute;
        top: -50px;
        left: 5%;
        width: 70px;
        height: 140px;
        transform: rotate(30deg);

        background: {
            image: url("/public/images/product-image-4.png");
            repeat: no-repeat;
            size: cover;
            position: center;
        }
    }

    @include media.custom-media(425px) {
        padding-block: 40px;

        &::after {
            display: none;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
        text-align: center;
        color: var(--color-light);
        padding-inline: 80px;

        @include media.media(laptop) {
            padding-inline: 50px;
        }

        @include media.media(tablet) {
            padding-inline: 25px;
        }

        @include media.custom-media(500px) {
            padding-inline: 0;
        }
    }

    &__body {
        width: 100%;
        column-gap: 30px;
        row-gap: 50px;

        @include media.media(laptop) {
            --gridColumns: 3;

            column-gap: 25px;
            row-gap: 40px;
        }

        @include media.custom-media(650px) {
            --gridColumns: 2;

            column-gap: 20px;
            row-gap: 30px;
        }

        @include media.custom-media(425px) {
            --gridColumns: 1;

            row-gap: 20px;
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        color: var(--color-light);
        transition: scale .4s ease;

        @include m.hover {
            scale: 1.05;
        }

        &__image {
            width: 100%;
            max-width: 350px;
            border-radius: 10px;
            box-shadow: -5px -5px 9px rgba(0, 0, 0, 0.25), 5px 5px 9px rgba(0, 0, 0, 0.3);
        }

        &__description {
            padding-inline: 35px;
            text-align: center;

            @include media.custom-media(1180px) {
                padding-inline: 15px;
            }

            @include media.custom-media(880px) {
                padding-inline: 0;
            }
        }
    }
}